//fonts
$font_family_global: "Montserrat", sans-serif;
$font_family_logo: "Pacifico", cursive;

//colors
$color_brown: rgb(145, 111, 85);
$color_soft_pink: #ffc0ad;
$color_dark_bronw: #55423d;
$color_grey: rgb(176, 176, 176);
