.hero {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding: 3rem;

    h1, p{
        margin-bottom: 1.5rem;
        animation-duration: 1s;
        animation-name: slidein;
    }
    .boton{
        animation-duration: 1s;
        animation-name: slidein;
    }
}


/*index complemento*/
.seccion_intro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 2.5rem;
}

.cafe_info {
    padding: 2rem;
    h3, p{
        max-width: 15px 0;
    }
}



@media screen and (max-width: 750px) {
    .hero{
        img{
            display: none;
        }
        &_info{
            width: 90%;
        }
    }

}

@media screen and (max-width: 425px) {
    .hero {
            &_info {
                width: 90%;
              
                p{
                    font-size: 12px;
                    animation: none;
                }

                h1{
                    font-size: 24px;
                    animation: none;
                }
                .boton{
                    animation: none;
                }
            }
        
        }
    h2{
        font-size: 18px;
        margin-top: 2.5rem;
    }
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        
    }
}