.nosotros_info {
    display: flex;
}

.seccion_nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nosotros-content {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rightSide {
    order: 1;
}

@media screen and (max-width: 990px) {
    .nosotros-content {
        margin: 1.5rem;
    }

    .nosotros-content img {
        margin-top: 20px;
    }

    .leftSide {
        order: 2;
    }
}