@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
/*General */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-top: 2rem;
}

section h3 {
  margin: 2.5rem;
}

h4 {
  font-weight: bold;
  margin-top: 15px;
}
.boton {
  background-color: #ffc0ad;
  color: #000;
  border: 0;
  border-radius: 5px;
  width: 150px;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
}

.boton:hover {
  cursor: pointer;
  background-color: #ffcfc0;
  transition: 0.5s ease-out;
}

main {
  width: 90%;
  margin: 0 auto;
}
section img {
  width: 250px;
  height: 250px;
}
/*Navbar*/
header {
  padding: 1rem 2.5rem;
  border-bottom: 1px solid rgb(107, 105, 105);
}

.nav-link:hover {
  cursor: pointer;
  color: rgb(145, 111, 85);
  transition: 0.5s ease;
}

.logo a {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/*index*/

.hero {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding: 3rem;
}
.hero_info h1,
p {
  margin-bottom: 1.5rem;
}

/*index complemento*/
.seccion_intro {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 2.5rem;
}
.cafe_info {
  padding: 2rem;
}
.cafe_info h3,
p {
  margin: 15px 0;
}

/*Seccion nuestros servicios*/

.boton_centrado {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.servicio {
  margin-top: 25px;
}
/*Pagina de productos*/
.categorias {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid #000;
  margin-top: 15px;
}

.categoria:last-child {
  border-bottom: #fff;
}

.categoria input {
  margin: 2rem;
}

.categorias h4 {
  font-weight: bold;
  margin-top: 15px;
}

.producto {
  margin: 2rem;
}

/*Nosotros seccion*/
.nosotros_info {
  display: flex;
}
.seccion_nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros-content {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rightSide {
  order: 1;
}

@media screen and (max-width: 990px) {
  .nosotros-content {
    margin: 1.5rem;
  }
  .nosotros-content img {
    margin-top: 20px;
  }
  .leftSide {
    order: 2;
  }
}

/*Pagina de contacto*/
.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
}

form input:not(input[type="button"]) {
  height: 2.5em;
  padding: 10px;
}

form textarea {
  padding: 15px;
}

form .boton {
  margin: 15px 0;
}
/*Footer*/
footer {
  background-color: #55423d;
  color: #fff;
  width: 100%;
  padding: 1.5rem 0;
}
.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-p {
  display: flex;
  gap: 3rem;
}
.contact {
  display: flex;
  margin-bottom: 10px;
}

.contact a {
  color: #fff;
  text-decoration: none;
}
.contact:hover a {
  cursor: pointer;
  color: rgb(176, 176, 176);
  transition: 0.5s ease;
}

.contact img {
  width: 25px;
  margin-right: 10px;
}

/*Media query del footer*/
@media screen and (max-width: 990px) {
  .footer-p {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  footer {
    font-size: 12px;
  }
}
